<div class="card post-card my-3">
  <h5 class="card-header text-uppercase">{{title}}</h5>
  <div class="card-body">
    <h5 class="card-title fw-bold"><span>Posted by <span>{{user.username}}</span> on {{format_date date_created}}</span></h5>
    <p class="card-text">{{post_body}}</p>
    <a href="/post/{{id}}" class="btn btn-secondary">View Post</a>
  </div>
</div>