<div class="card post-card">
    <header>
        <div class="d-flex">
            <a href="/post/{{id}}">{{title}}</a>
            <span class="lead">posted by <span>{{user.username}}</span> on {{date_created}}</span>
        </div>
    </header>
    <div class="card-body">
        <p>{{post_body}}</p>
    </div>
</div>